<div class="header">        
<div class="menu">    
    <ul class="nav">
        <li class="home"><a href="/"><button class="home">Show Reader View</button></a></li>
        <li><a href="topic">Topics</a></li>
        <li>Users</li>
        <li>Settings</li>
    </ul>
</div>
    <% if(messages) %>
    <div class="messages">
        <div class="success">
            <%= messages.success %>
        </div>
        <div class="error">
            <%= messages.error %>
        </div>
    </div>
</div>