<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs%>
    <link rel="stylesheet" href="/css/admin-style.css">
</head>

<body>

<% include header.ejs %>

<!-- Insert Body here -->
<div class="main-container">
        <%- body %>
</div><!-- /.container -->
</body>
</html>