<div class="header">
    <a href="/" class="logo-link" >
     <img src="//qsf.fs.quoracdn.net/-3-images.logo.wordmark_default.svg-26-bfa6b94bc0d6af2e.svg" alt="logo" class="logo"/>
    </a>
    <div class="nav-wrapper">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/answers">Answers</a></li>
            <li><a href="/not">Notifications</a></li>
        </ul>
    </div>
    <div class="search inline"><input type="text" name="search" id="search" placeholder="Search Now" /></div>
    <span class="user-pic"><img src="https://qph.fs.quoracdn.net/main-thumb-ti-481-100-acombkiunkbnmdobavqyvbndsytivmrg.jpeg" style=""/></span>                        
    <button class="top-button">Add Question</button>
</div>