<% layout('layout') -%>
    <div class="topic-categories">
        <ul class="list no-style">
            <li>Feed</li>
            <li>Life Advice</li>
            <li>Career</li>
            <li>Politics</li>
            <li>News</li>
        </ul>
    </div>