body {
margin : 0px;
font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.main-container {
    background-color: #d3d3d31a;
    top: 55px;
    position: relative;
}
.text-center{ text-align: center !important; }
.page {
    min-height: 500px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    /*background: url('/images/nightsky.jpg') no-repeat center center fixed;*/
    /*background-position: center;*/

}
a{  text-decoration: none;  opacity: 0.9; }
p{    opacity: 0.85; }

.inline{
    display: inline-block !important;
}
.block{
    display: block !important;
}
.hide{
  display: none !important;
}
ul.no-style{
    list-style: none; padding:10px;margin:0px;
    display: inline-block;
}
.show{
  display: block !important;
}
button {
  background-color: transparent;
  padding: 5px;
}

button.success{
  background-color: darkseagreen;
}
button .md{
  padding: 10px;
}
button .lg{
  padding: 20px;
}
.container-full{
    width: 100%;
}
.header *{
    vertical-align: middle;
}
.header, .footer{
    background-color: darkseagreen;
    color: white;
}
.footer{
    text-align: center;
    padding:10px;
    clear: both;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.header .logo{
    width: 100px;
    padding: 8px;
}
.header ul.nav{
    list-style: none;
}
.header ul.nav li{
    float:left;
    margin: 10px;
    vertical-align: middle;
}
.header .search input{
    background: transparent;
    color: #ffffff;
    border: 0px solid green;
    width: 200px;
    height: 10px;
    padding: 10px;
}
.header .search input :hover{
    border: 2px;
}
.header .search input :focus{
    border: 1px solid #ffffff;
}
.header .search input::placeholder{
 color: white;
    opacity: 1; /* Firefox */
}
.header .user-pic{    margin-right: 10px}
.header .user-pic img{ width: 45px; border-radius: 30px;}
.nav-wrapper{
    display:inline-block;
}
.header ul.nav a{
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}
.header ul.nav li :hover{
    background-color: lightseagreen;
}
.login{
  position: relative;
  /* background-color: lightgray; */
  background: url('/images/nightsky.jpg') no-repeat center; 
  position: fixed;
  top: 0;
  left: 0; 
  min-height: 100%;
  color: #000000;
}

.login .center-page{
    width: 700px;
    padding: 20px;
    height: 400px;
    background-color: #ffff;
     position: absolute;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;  */
     top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -250px; 
}
.center-page .title{
font-size: 50px;
text-align: center;
color: red;
}
.center-page .subtitle{
  text-align: center;
  color: #949494;
}
.form-content .form , .form-content .intro{
  width: 50%;
  float: left;
}


/*HOME PAGE*************************************/
.topic-categories{
  width: 20%;
} 
.story-box{width: 60%;}
.topic-categories ul li {
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    background: darkseagreen;
    margin: 2px;
    min-width: 160px;
}

.topic-categories , .story-box{
  float:left;
}
.entrybox , .story{
  padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 6px 2px #e2e2e2;
    border-radius: 10px;
    background-color: #ffff;
  /* box-shadow: 0px 0px 14px 0px rgba(0,199,166,0.75); */
}
.entrybox textarea{
  width: 97%;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
}
.story .link{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.story .link a{   
     color: black;
    opacity: .9;
}
.story .current-user img{
    max-width: 40px;
    border-radius: 20px;
    margin-right:3px;
}
.user-desc{ display: none;}
.story .current-user img:hover  .user-desc { display: block; }
.story .current-user *{
    vertical-align: middle;
}
.post-time{
    float: right;
    color: green;
}

.story-box .topic-info {
    content: "";
  clear: both;
  display: table;
  width: 97%;
} 
.topic-info .image{
    width: 130px; float: left; 
    margin-right:10px;
}
.topic-info .name{
    font-size: 30px;
    font-weight: 700;
}